       header {
            position: fixed;
            top: 0;
            width: 100%;
            background: var(--primary);
            backdrop-filter: blur(20px);
            z-index: 1000;
            transition: all 0.3s ease;
       }